# <b>UBER-FARE-PREDICTION</b>

### Import Libraries

DATA HANDLING

In [2]:
import pandas as pd
import numpy as np

DATA VISUALIZATION

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

MACHINE LEARNING - DATA SPLITTING & TUNING

In [4]:
from sklearn.model_selection import train_test_split, GridSearchCV

MACHINE LEARNING - PREPROCESSING

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

MACHINE LEARNING - REGRESSION MODELS

In [6]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso

MODEL EVALUATION METRICS

In [7]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

MODEL SAVING

In [8]:
import joblib

WARNING CONTROL

In [9]:
import warnings
warnings.filterwarnings("ignore")

### Load Data

In [11]:
df = pd.read_csv("../data/uber.csv")
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

Checking Data Structure

In [17]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  str
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  str
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), str(2)
memory usage: 13.7 MB

Unnamed: 0           0
key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64